.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 20px;
  background-color: #f59e0b;
  color: white;
}

.navbar-title {
  font-size: 20px;
  font-weight: bold;
}

.navbar-search {
  display: flex;
  align-items: center;
  gap: 12px;
}

.navbar-search input {
  padding: 6px 10px;
  border-radius: 6px;
  border: none;
  outline: none;
}

.notification-wrapper {
  position: relative;
  cursor: pointer;
}

.notification-icon {
  font-size: 22px;
}

.badge {
  position: absolute;
  top: -6px;
  right: -6px;
  background-color: red;
  color: white;
  font-size: 12px;
  font-weight: bold;
  padding: 2px 6px;
  border-radius: 50%;
}













/* .navbar {
  height: 64px;
  background-color: #5f7c99;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 24px;
  color: white;
}

.navbar-title {
  font-size: 20px;
}

.navbar-search input {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 6px;
}
span{
  padding: 4px;
}  */


