.navbar {
  height: 64px;
  background-color: #5f7c99;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 24px;
  color: white;
}

.navbar-title {
  font-size: 20px;
}

.navbar-search input {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 6px;
}
span{
  padding: 4px;
}
