.notification-container {
  position: relative;
  margin-left: 10px;
}

.bell {
  font-size: 22px;
  cursor: pointer;
  position: relative;
}

.badge {
  background: red;
  color: white;
  font-size: 12px;
  border-radius: 50%;
  padding: 2px 6px;
  position: absolute;
  top: -8px;
  right: -10px;
}

.dropdown {
  position: absolute;
  top: 35px;
  right: 0;
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 6px;
  width: 250px;
  max-height: 250px;
  overflow-y: auto;
  box-shadow: 0 2px 8px rgba(0,0,0,0.15);
  z-index: 100;
}

.dropdown-item {
  padding: 10px;
  border-bottom: 1px solid #eee;
}

.dropdown-item p {
  margin: 0;
  font-size: 14px;
}

.dropdown-item small {
  font-size: 12px;
  color: gray;
}









/* .navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 20px;
  background-color: #f59e0b;
  color: white;
}

.navbar-title {
  font-size: 20px;
  font-weight: bold;
}

.navbar-search {
  display: flex;
  align-items: center;
  gap: 12px;
}

.navbar-search input {
  padding: 6px 10px;
  border-radius: 6px;
  border: none;
  outline: none;
}

.notification-wrapper {
  position: relative;
  cursor: pointer;
}

.notification-icon {
  font-size: 22px;
}

.badge {
  position: absolute;
  top: -6px;
  right: -6px;
  background-color: red;
  color: white;
  font-size: 12px;
  font-weight: bold;
  padding: 2px 6px;
  border-radius: 50%;
} */